@font-face {
    font-family: 'SUIT-Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    font-family: 'SUIT-Regular', sans-serif; /* Suit 폰트 설정 */
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #333;
    color: white;
    white-space: nowrap; /* 한 줄로 유지 */
}

.logo {
    font-size: 24px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin: 0 15px;
    position: relative; /* 포지션을 상대적으로 설정 */
}

nav ul li a {
    color: black; /* 검정색 글자 */
    text-decoration: none;
    padding: 5px 10px; /* 여백 추가 */
    transition: color 0.3s; /* 색상 변화에 부드러운 전환 효과 추가 */
}

nav ul li a:hover {
    color: white; /* 마우스 오버 시 흰색으로 변경 */
}

nav ul li a:focus::after,
nav ul li a:hover::after {
    content: '';
    position: absolute;
    bottom: -5px; /* 링크 아래 위치 설정 */
    left: 0;
    right: 0;
    height: 4px; /* 라운드된 사각형의 높이 */
    background-color: black; /* 검정색 사각형 */
    border-radius: 2px; /* 모서리를 둥글게 */
}

.full-width-image {
    width: 100%;
    height: auto; /* 이미지의 비율을 유지하며 가로 크기에 맞게 조절 */
}